<!DOCTYPE html>
<html lang="en" color-mode="user">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{room.name}}</title>
  <link href="/public/style.css" rel="stylesheet">
</head>

<body>
  <nav>
    <ul>
      <li>Hello, {{user.username}}</li>
      <li><a href="/">Home</a></li>
      <li></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
  <section>
    <h1>
      {{room.name}}
    </h1>
  </section>
  <section>
    <div>
      <ul id="message_list" style="height: 50vh; overflow: scroll;">
        {{#each messages}}
        <li>{{this.author}}: {{this.content}}</li>
        {{/each}}
      </ul>
      <form id="send_message" onsubmit="return false">
        <input type="text" name="message" placeholder="Type message here" required>
        <button type="submit">Send</button>
      </form>
    </div>
    <aside class="right">
      <h3>Members:</h3>
      <ul>
        {{#each room.members}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </aside>
  </section>
  <script src="/public/room.js"></script>
</body>

</html>
